$font-family-main: 'Titillium Web', sans-serif;
$font-color-main: #333;
$font-color-secondary: #eee;
$link-color: #275ad1;
$background-color-main: #666;
$nav-background: #222;
$box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
$container-width: 920px;
$border-radius-main: 5px;
$font-weight-main: 600;
$font-size-main: 16px;

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');

*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0 0 40px;
  font-family: $font-family-main;
  background-color: $background-color-main;
  color: $font-color-main;
  overflow-x: hidden;
  .no-posts {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: clamp(20px, 5vw, 40px);
    color: $font-color-secondary;
  }
  nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 0 20px;
    background-color: $nav-background;
    box-shadow: $box-shadow;
    z-index: 1;
    ul.nav-container {
      max-width: calc($container-width - 40px);
      margin: 0 auto;
      padding: 15px 0;
      list-style: none;
      display: flex;
      gap: 20px;
      align-items: center;
      justify-content: space-between;
      background-color: $nav-background;
      li.nav-link {
        text-transform: uppercase;
        &:nth-child(2) {
          flex: 1;
        }
        a {
          color: $font-color-secondary;
          font-size: 20px;
          font-weight: $font-weight-main;
          text-decoration: none;
  
          &:hover {
            text-decoration: underline;
          }
        }
      }
      li.nav-search {
        .search-container {
          position: relative;
          width: 100%;
          max-width: 220px;
      
          label {
            display: none;
          }
      
          .search-input {
            font-family: $font-family-main;
            width: 100%;
            padding: 4px 12px;
            font-size: 1rem;
            color: $font-color-secondary;
            outline: none;
            border: 1px solid $font-color-main;
            border-radius: 4px;
            background-color: $font-color-main;
            transition: background-color 0.3s;
      
            &:focus {
              background-color: lighten($color: $font-color-main, $amount: 10%)
            }
          }
      
          .search-results {
            position: absolute;
            top: 48px;
            right: 0;
            width: max-content;
            max-height: calc(100vh - 70px);
            overflow-y: auto;
            background-color: $nav-background;
            border-radius: 0 0 $border-radius-main $border-radius-main;
      
            .search-result-item {
              border-bottom: 1px solid $font-color-main;
              font-size: 14px;
              a {
                display: block;
                padding: 10px 14px;
                color: lighten($color: $link-color, $amount: 30%);
                line-height: 1;
                text-decoration: none;
                transition: .3s;
                &:hover {
                  color: #eee;
                  background-color: darken($color: $nav-background, $amount: 3%);
                }
              }
      
              &:last-child {
                border-bottom: none;
              }
            }
          }
        }
      }
    }
  }
  .container {
    max-width: $container-width;
    margin: 0 auto;
    padding: 30px 20px 40px;
    h1.post-page-title {
      width: 100%;
      position: -webkit-sticky;
      position: sticky;
      top: 50px;
      padding: 25px 15px;
      margin-bottom: -5px;
      font-size: clamp(22px, 5vw, 36px);
      font-weight: 500;
      line-height: 1.2;
      color: $font-color-secondary;
      background-color: lighten($color: $nav-background, $amount: 10%);
      border-radius: $border-radius-main $border-radius-main 0 0;
      box-shadow: $box-shadow;
      text-align: center;
      text-shadow: $nav-background;
      text-wrap: balance;
      transition: opacity 0.3s ease-in-out;
      .title-updated {
        position: absolute;
        bottom: -8px;
        left: 50%;
        padding: 5px 12px;
        font-size: 10px;
        color: $font-color-secondary;
        line-height: 1;
        background-color: lighten($color: $nav-background, $amount: 10%);
        border-radius: $border-radius-main;
        transform: translateX(-50%);
        text-shadow: none;
      }
    }
    h2.heading {
      margin-bottom: 15px;
      font-weight: $font-weight-main;
      color: $font-color-secondary;
      text-shadow: 1px 1px 1px $nav-background;
    }
    ul.category-links {
      display: flex;
      gap: 20px 10px;
      flex-flow: row wrap;
      margin-bottom: 20px;
      font-weight: 600;
      padding: 0;
      list-style-type: none;
      a {
        padding: 5px 10px;
        font-size: 14px;
        color: $font-color-main;
        text-decoration: none;
        text-wrap: nowrap;
        background-color: #fff;
        border: 1px solid transparent;
        border-radius: $border-radius-main;
        box-shadow: $box-shadow;
        transition: .3s;
        text-transform: capitalize;
        &.active {
          color: #fff;
          background-color: lighten($color: $nav-background, $amount: 10%);
          border-color: $nav-background;
        }
        &.inactive {
          &:hover {
            background-color: darken($color: $font-color-secondary, $amount: 10%);
          }
        }
      }
    }
    form {
      padding: 20px;
      font-family: $font-family-main;
      font-size: $font-size-main;
      background-color: #eee;
      border-radius: $border-radius-main;
      box-shadow: $box-shadow;
      .title-category-wrapper {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        .title-wrapper {
          flex: 1;
        }
        .category-wrapper {
          flex: 1;
          select {
            font-size: 15px;
          }
        }
      }
      .toolbar {
        // display: flex;
        // justify-content: flex-end;
        // gap: 10px;
        button {
          padding: 5px 10px;
          margin-right: 5px;
          margin-bottom: 5px;
          font-size: 14px;
          color: $font-color-main;
          background-color: #fff;
          border: none;
          border-radius: $border-radius-main;
          transition: .3s;
          cursor: pointer;
          &:hover {
            background-color: darken($color: $font-color-secondary, $amount: 10%);
          }
        }
      }
      label {
        font-weight: $font-weight-main;
      }
      input,
      textarea,
      select,
      .DraftEditor-root {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: $border-radius-main;
        box-sizing: border-box;
        font-family: $font-family-main;
        font-size: $font-size-main;
        font-weight: 300;
        background-color: #fff;
        outline: none;
        &:focus-within {
          border-color: $nav-background;
        }
        .DraftEditor-editorContainer {
          height: 100%;
          .notranslate.public-DraftEditor-content {
            height: 100%;
          }
        }
      }
      textarea, .DraftEditor-root {
        margin-bottom: 0;
        height: 100%;
        resize: vertical;
        transition: .3s;
        overflow: auto;
      }
      .button-wrapper {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        .increase-height {
          display: flex;
          gap: 5px;
        }
        .btn {
          display: inline-block;
          padding: 5px 15px;
          font-family: $font-family-main;
          font-size: clamp(14px, 3vw, 18px);
          line-height: 1.2;
          color: #fff;
          text-decoration: none;
          border-radius: 5px;
          border: none;
          outline: none;
          text-shadow: 0 1px 1px #999;
          transition: .2s;
          cursor: pointer;

          &:active {
            -webkit-transform: translate(0px, 5px);
            transform: translate(0px, 5px);
            box-shadow: $box-shadow;
          }

          &.blue {
            background-color: #55acee;
            box-shadow: 0px 5px 0px 0px #3C93D5;
            &:hover {
              background-color: #6FC6FF;
            }
          }

          &.yellow {
            background-color: #f1c40f;
            box-shadow: 0px 5px 0px 0px #D8AB00;
            &:hover {
              background-color: #FFDE29;
            }
          }
        
          &.green {
            background-color: #2ecc71;
            box-shadow: 0px 5px 0px 0px #15B358;
            &.green:hover {
              background-color: #48E68B;
            }
          }

          &.red {
            background-color: #e74c3c;
            box-shadow: 0px 5px 0px 0px #CE3323;
          
            &:hover {
              background-color: #FF6656;
            }
          }
        }
      }
    }

    .blog-post {
      margin: 0 auto 10px;
      font-weight: 300;
      background: #fff;
      border-radius: $border-radius-main;
      box-shadow: $box-shadow;
      .blog-post-body {
        padding: 30px 20px 0;
        font-size: clamp(16px, 4vw, 20px);
        font-weight: 500;
        box-shadow: inset 0 5px 10px $font-color-main;
        .blog-post-footer {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 15px;
          padding-bottom: 15px;
          .date-published {
            padding: 6px 10px;
            font-size: 12px;
            line-height: 1.2;
            color: $font-color-main;
            background: linear-gradient(45deg, #eee, transparent);
            border-radius: $border-radius-main;
      
            .category {
              color: $link-color;
            }
          }
      
          .edit-post {
            padding: 2px 8px;
            text-align: center;
            font-size: 14px;
            color: $font-color-main;
            text-decoration: none;
            background: #eee;
            border: 1px solid #ddd;
            border-radius: $border-radius-main;
            transition: .3s;
      
            &:hover {
              border-color: #aaa;
            }
          }
        }
      }
    }
    .adjacent-posts {
      display: flex;
      justify-content: space-between;
      gap: 10px;
      margin-bottom: 20px;
      .prev-post,
      .next-post {
        flex: 1;
        display: block;
        padding: 10px 20px;
        color: $nav-background;
        font-size: 14px;
        text-decoration: none;
        background-color: #f1f1f1;
        border-radius: $border-radius-main;
        box-shadow: $box-shadow;
        border: 3px solid #fff;
        transition: .3s;
        .next-prev-title {
          font-weight: $font-weight-main;
          color: $font-color-main;
        }
        &:hover {
          color: $font-color-main;
          background-color: #fff;
        }
        &:nth-child(2) {
          text-align: right;
        }
      }
    }
    ul.list-posts {
      display: grid;
      grid-column-gap: 10px;
      grid-template-columns: repeat(2, 1fr);
      padding: 0;
      list-style-type: none;
      li {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #dadada;
        margin-bottom: 10px;
        border-radius: $border-radius-main;
        border: 3px solid #fff;
        transition: .3s;
        box-shadow: $box-shadow;
        &:hover {
          background-color: #fff;
        }
        a {
          display: block;
          padding: 8px 5px;
          margin: 5px 5px 0;
          color: $link-color;
          font-size: 18px;
          text-decoration: none;
          transition: .3s;
          line-height: 1;
          text-wrap: balance;
          font-weight: 600;
          &:hover {
            color: $nav-background;
          }
        }
        .post-date {
          padding: 5px 10px;
          font-size: 11px;
          line-height: 1;
          color: lighten($color: $font-color-main, $amount: 20%);
        }
        .post-summary {
          margin-top: 5px;
          padding: 0 10px;
          font-size: 14px;
          line-height: 1.2;
          text-wrap: balance;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
        }
        .labels-wrapper {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          gap: 10px;
          padding: 5px 5px;
          background: linear-gradient(0deg, #aaa, transparent);
          border-radius: 0 0 4px 4px;
          .category-label {
            padding: 4px 8px;
            font-size: 12px;
            color: #fff;
            border-radius: $border-radius-main;
          }
          .reading-time {
            display: flex;
            gap: 5px;
            font-size: 12px;
            line-height: 1;
            color: $font-color-main;
          }
        }
      }
    }
  }
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 1rem 0;
    font-weight: 600;
    font-size: 14px;

    button,
    span {
      font-family: $font-family-main;
      padding: 8px 16px;
      box-shadow: $box-shadow;
      border-radius: $border-radius-main;
      background-color: #f5f5f5;
      transition: background-color 0.3s;
      cursor: pointer;
    }

    button {
      border: 1px solid $font-color-main;

      &:hover {
        background-color: #e0e0e0;
      }

      &:disabled {
        background-color: #ddd;
        cursor: default;
      }
    }

    span {
      &.active-page {
        background-color: #333;
        color: #fff;
        cursor: default;
        border: 1px solid $nav-background;
        box-shadow: none;
      }

      &:hover:not(.active-page) {
        background-color: #ccc;
      }
    }
  }
  .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: #999;
  }
  .loading::after {
    content: '.';
    animation: dots 1s steps(5, end) infinite;
  }
  @keyframes dots {
    0%,
    20% {
      color: rgba(0, 0, 0, 0);
      text-shadow:
        .25em 0 0 rgba(0, 0, 0, 0),
        .5em 0 0 rgba(0, 0, 0, 0);
    }
    40% {
      color: #999;
      text-shadow:
        .25em 0 0 rgba(0, 0, 0, 0),
        .5em 0 0 rgba(0, 0, 0, 0);
    }
    60% {
      text-shadow:
        .25em 0 0 #888,
        .5em 0 0 rgba(0, 0, 0, 0);
    }
    80%,
    100% {
      text-shadow:
        .25em 0 0 #777,
        .5em 0 0 #777;
    }
  }
  .footer-container {
    background: linear-gradient(0deg, #111, #1a1a1a, #333);
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    .footer-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      span {
        margin: 5px 0;
        font-size: 14px;
        color: #c6c6c6;
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  body {
    padding-bottom: 60px;
    nav > ul {
      padding: 10px 0;
    }
    .container {
      padding-top: 5px;
      h1.post-page-title {
        position: static;
      }
      form .title-category-wrapper {
        flex-direction: column;
        gap: 0;
      }
      .blog-post {
        width: 100%;
        .blog-post-body {
          padding: 20px 15px 15px;
          .blog-post-footer {
            padding-bottom: 0;
          }
        }
      }
      > ul.list-posts {
        display: block;
      }
      .pagination {
        padding: 10px;
        button, span {
          padding: 3px 10px;
        }
      }
    }
    .footer-container {
      .footer-content {
        span {
          font-size: 12px;
          text-wrap: balance;
        }
      }
    }
  }
}

.blog-post-body,
.DraftEditor-root {
  // .public-DraftStyleDefault-block {
  //   margin: 16px 0;
  // }

  .public-DraftStyleDefault-h1 {
    font-size: 2em;
    font-weight: bold;
  }

  .public-DraftStyleDefault-h2 {
    font-size: 1.5em;
    font-weight: bold;
  }

  .public-DraftStyleDefault-h3 {
    font-size: 1.17em;
    font-weight: bold;
  }
  h1, h2, h3 {
    margin: 16px 0;
    line-height: 1.3;
    font-weight: bold;
  }
  h1 {
    font-size: 1.60em;
  }
  h2 {
    font-size: 1.45em;
  }
  h3 {
    font-size: 1.30em;
  }
  blockquote {
    margin: 10px;
    padding: 10px 15px;
    border-left: 5px solid #ccc;
    background-color: #eee;
    font-style: italic;
    border-radius: 0 $border-radius-main $border-radius-main 0;
  }
  ul,
  ol {
    padding-left: 1.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    line-height: 1.5;
  }

  ul {
    list-style-type: circle;
  }

  ul li {
    margin-bottom: 0.25em;
  }

  ol {
    list-style-type: decimal;
  }

  ol li {
    margin-bottom: 0.25em;
  }

  ul ul,
  ul ol,
  ol ul,
  ol ol {
    margin-top: 0;
    margin-bottom: 0;
  }
}
