$font-family-main: 'Titillium Web', sans-serif;
$font-color-main: #333;
$font-color-secondary: #eee;
$background-color-main: #f5f6d6;
$nav-background: #007bff;
$box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
$container-width: 920px;
$border-radius-main: 5px;
$font-weight-main: 600;
$font-size-main: 16px;

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');

*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0 0 40px;
  font-family: $font-family-main;
  background-color: $background-color-main;
  color: $font-color-main;
  overflow-x: hidden;
  nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 0 20px;
    background-color: $nav-background;
    box-shadow: $box-shadow;
    z-index: 1;
    ul {
      max-width: $container-width;
      margin: 0 auto;
      padding: 15px 0;
      list-style: none;
      display: flex;
      gap: 20px;
      align-items: center;
      justify-content: space-between;
      background-color: $nav-background;
      li {
        text-transform: uppercase;
        a {
          color: $font-color-secondary;
          font-size: 20px;
          font-weight: $font-weight-main;
          text-decoration: none;
  
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  .container {
    max-width: $container-width;
    margin: 0 auto;
    padding: 30px 20px 40px;
    h1 {
      position: relative;
      margin-bottom: 20px;
      font-size: clamp(22px, 5vw, 36px);
      font-weight: 500;
      line-height: 1.2;
      color: darken($color: $nav-background, $amount: 20%);
      text-align: center;
      text-wrap: balance;
      .title-updated {
        position: absolute;
        bottom: -29px;
        left: 50%;
        padding: 4px 6px;
        font-size: 10px;
        color: initial;
        line-height: 1;
        background: #fff;
        border-radius: $border-radius-main;
        transform: translateX(-50%);
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
      }
    }
    h2 {
      margin-bottom: 15px;
      font-weight: $font-weight-main;
      text-transform: uppercase;
    }
    ul.category-links {
      display: flex;
      gap: 20px 10px;
      flex-flow: row wrap;
      margin-bottom: 20px;
      padding: 0;
      list-style-type: none;
      a {
        padding: 5px 10px;
        font-size: 14px;
        color: $font-color-main;
        text-decoration: none;
        text-wrap: nowrap;
        background-color: #fff;
        border: 1px solid transparent;
        border-radius: $border-radius-main;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        transition: .3s;
        text-transform: capitalize;
        &.active {
          color: #fff;
          background-color: lighten($color: $nav-background, $amount: 10%);
          border-color: $nav-background;
        }
        &.inactive {
          &:hover {
            border-color: #888;
          }
        }
      }
    }
    form {
      padding: 20px;
      font-family: $font-family-main;
      font-size: $font-size-main;
      background-color: #fff;
      border-radius: $border-radius-main;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      .title-category-wrapper {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        .title-wrapper {
          flex: 1;
        }
        .category-wrapper {
          flex: 1;
          select {
            font-size: 15px;
          }
        }
      }
      label {
        font-weight: $font-weight-main;
      }
      input,
      textarea,
      select {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: $border-radius-main;
        box-sizing: border-box;
        font-family: $font-family-main;
        font-size: $font-size-main;
        font-weight: 300;
        background-color: #f5f5f5;
        outline: none;
        &:focus-within {
          border-color: $nav-background;
        }
      }
      textarea {
        height: 160px;
        resize: vertical;
        transition: .3s;
      }
      .button-wrapper {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        .increase-height {
          display: flex;
          gap: 5px;
        }
        .btn {
          display: inline-block;
          padding: 5px 15px;
          font-family: $font-family-main;
          font-size: clamp(14px, 3vw, 18px);
          line-height: 1.2;
          color: #fff;
          text-decoration: none;
          border-radius: 5px;
          border: none;
          outline: none;
          text-shadow: 0 1px 1px #999;
          transition: .2s;
          cursor: pointer;

          &:active {
            -webkit-transform: translate(0px, 5px);
            transform: translate(0px, 5px);
            box-shadow: 0px 1px 0px 0px;
          }

          &.blue {
            background-color: #55acee;
            box-shadow: 0px 5px 0px 0px #3C93D5;
            &:hover {
              background-color: #6FC6FF;
            }
          }

          &.yellow {
            background-color: #f1c40f;
            box-shadow: 0px 5px 0px 0px #D8AB00;
            &:hover {
              background-color: #FFDE29;
            }
          }
        
          &.green {
            background-color: #2ecc71;
            box-shadow: 0px 5px 0px 0px #15B358;
            &.green:hover {
              background-color: #48E68B;
            }
          }

          &.red {
            background-color: #e74c3c;
            box-shadow: 0px 5px 0px 0px #CE3323;
          
            &:hover {
              background-color: #FF6656;
            }
          }
        }
      }
    }

    .blog-post {
      margin: 0 auto;
      width: calc(100% - 20px);
      font-weight: 300;
      background: #fff;
      border-radius: $border-radius-main;
      box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
      .blog-post-body {
        padding: 20px 20px 0;
      }
      .blog-post-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 20px;
        margin-top: 15px;
        background: linear-gradient(0deg, $background-color-main, transparent);
        border-radius: $border-radius-main;
        .date-published {
          font-size: 13px;
          line-height: 1.2;
          color: #666;
          .category {
            color: $nav-background;
          }
        }
        .edit-post {
          padding: 2px 8px;
          margin-bottom: 5px;
          text-align: center;
          color: $font-color-main;
          text-decoration: none;
          background: #fff;
          border: 1px solid #ddd;
          border-radius: $border-radius-main;
          transition: .3s;
          &:hover {
            border-color: #aaa;
          }
        }
      }
    }
    .adjacent-posts {
      display: flex;
      justify-content: space-between;
      gap: 10px;
      margin-bottom: 20px;
      .prev-post,
      .next-post {
        flex: 1;
        display: block;
        padding: 10px 20px;
        color: $nav-background;
        font-size: 14px;
        text-decoration: none;
        background-color: #f6f6f6;
        border-radius: $border-radius-main;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border: 3px solid #fff;
        transition: .3s;
        .next-prev-title {
          font-weight: $font-weight-main;
          color: lighten($color: $font-color-main, $amount: 20%);
        }
        &:hover {
          color: $font-color-main;
          background-color: #fff;
        }
        &:nth-child(2) {
          text-align: right;
        }
      }
    }
    ul.list-posts {
      display: grid;
      grid-column-gap: 10px;
      grid-template-columns: repeat(2, 1fr);
      padding: 0;
      list-style-type: none;
      li {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #fff;
        margin-bottom: 10px;
        border-radius: $border-radius-main;
        border: 3px solid #fff;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        a {
          display: block;
          padding: 8px 5px;
          margin: 5px 5px 0;
          color: $nav-background;
          font-size: 18px;
          text-decoration: none;
          transition: .3s;
          line-height: 1;
          text-wrap: balance;
          border-radius: $border-radius-main;
          &:hover {
            color: $font-color-main;
            background-color: lighten($color: $nav-background, $amount: 40%);
          }
        }
        .post-summary {
          margin-top: 5px;
          padding: 0 10px;
          font-size: 14px;
          line-height: 1.2;
          text-wrap: balance;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
        }
        .labels-wrapper {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          gap: 10px;
          padding: 5px 5px;
          background: linear-gradient(0deg, $font-color-secondary, transparent);
          border-radius: 0 0 4px 4px;
          .category-label {
            padding: 2px 6px;
            font-size: 12px;
            color: #fff;
            background-color: lighten($color: $nav-background, $amount: 20%);
            border-radius: $border-radius-main;
          }
          .date-label {
            flex: 1;
            font-size: 11px;
            line-height: 1;
            text-align: right;
            color: #888;
          }
        }
      }
    }
  }
  .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: #777;
  }
  .loading::after {
    content: '.';
    animation: dots 1s steps(5, end) infinite;
  }
  @keyframes dots {
    0%,
    20% {
      color: rgba(0, 0, 0, 0);
      text-shadow:
        .25em 0 0 rgba(0, 0, 0, 0),
        .5em 0 0 rgba(0, 0, 0, 0);
    }
    40% {
      color: #999;
      text-shadow:
        .25em 0 0 rgba(0, 0, 0, 0),
        .5em 0 0 rgba(0, 0, 0, 0);
    }
    60% {
      text-shadow:
        .25em 0 0 #666,
        .5em 0 0 rgba(0, 0, 0, 0);
    }
    80%,
    100% {
      text-shadow:
        .25em 0 0 #666,
        .5em 0 0 #666;
    }
  }
  .footer-container {
    background: linear-gradient(0deg, #111, #1a1a1a, #333);
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    .footer-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      span {
        margin: 5px 0;
        font-size: 14px;
        color: #c6c6c6;
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  body {
    padding-bottom: 60px;
    nav > ul {
      padding: 10px 0;
    }
    .container {
      form .title-category-wrapper {
        flex-direction: column;
        gap: 0;
      }
      .blog-post {
        width: 100%;
        .blog-post-body {
          padding: 10px 15px 0;
        }
        .blog-post-footer {
          padding: 8px 15px;
        }
      }
      > ul.list-posts {
        display: block;
      }
    }
    .footer-container {
      .footer-content {
        span {
          font-size: 12px;
          text-wrap: balance;
        }
      }
    }
  }
}
